/* FULL SCREEN CENTER */
.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #66d0ea, #764ba2);
  font-family: Arial, sans-serif;
}

/* CARD BOX */
.box {
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* TITLE */
h1 {
  color: #4653e5;
}

/* INPUT */
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* BUTTON */
button {
  width: 100%;
  padding: 10px;
  background: #46c5e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #308ca3;
}

/* LIST */
ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f4f4f4;
  margin: 5px 0;
  padding: 8px;
  border-radius: 6px;
}